@model SupplierSearchViewModel

@{
    var nonce = @Context.GetNonce();
}

<div id="@Model.DataId" class="govuk-width-container govuk-!-padding-top-6">
    <div id="search-results" class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">@Model.Title</h2>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Form for searching supplier addresses -->
            <form id="supplierSearch" method="post" action="#search-results">
                <input type="hidden" name="formIdentifier" id="formIdentifier" value="supplier-search" />
                <input type="hidden" name="halfPostcode" id="halfPostcode" value="@Model.PostcodeDistrict" />
                <input id="radius" name="radius" type="hidden" value="@Model.SearchWithinMiles" />

			    <!-- Error Summary -->
			    @if (!ViewData.ModelState.IsValid)
			    {
                    var modelStateErrors = ViewData.ModelState.Where(ms => ms.Value?.Errors.Count > 0 &&
                    (
                        ms.Key == nameof(Model.Postcode)
                    ));

                    if (modelStateErrors.Any())
                    {
			            <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title" aria-describedby="error-summary-list">
			                <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
			                <div id="error-summary-list">
			                    <ul class="govuk-list govuk-error-summary__list">
                                    @foreach (var modelState in modelStateErrors)
                                        {
                                            var fieldId = modelState.Key;
                                            var errorMessage = modelState.Value?.Errors[0].ErrorMessage;
                                            <li><a href="#@fieldId">@errorMessage</a></li>
                                        }

			                    </ul>
			                </div>
			            </div>
                    }
			    }

                <!-- Postcode Input Field -->
                <div class="govuk-form-group @((ViewData.ModelState["Postcode"] != null) ? "govuk-form-group--error" : "")">
                    <label class="govuk-label" for="postcode">@Model.Heading</label>

                    @if (ViewData.ModelState["Postcode"] != null)
                    {
                        <span id="postcode-error" class="govuk-error-message" aria-live="assertive" role="alert" aria-labelledby="postcode">
                            <span class="govuk-visually-hidden">Error:</span>
                            @ViewData.ModelState["Postcode"]!.Errors.FirstOrDefault()?.ErrorMessage
                        </span>
                    }

                    <input class="govuk-input"
                           id="postcode"
                           name="postcode"
                           type="text"
                           aria-describedby="postcode-error"
                           @(string.IsNullOrEmpty(Model.Postcode) ? "" : "autofocus")
                           value="@Model.Postcode">

                </div>

                <button class="govuk-button" type="submit">@Model.ButtonText</button>

                @Html.AntiForgeryToken() <!-- Protect the POST request -->
            </form>

        </div>
    </div>

    <script nonce="@nonce">
        document.addEventListener("DOMContentLoaded", function() {
            // Check if the page was redirected with the search result section in the URL hash
            const urlHash = window.location.hash;

            if (urlHash === '#search-results') {
                document.getElementById("postcode").focus();  // This will set the focus on the postcode field
                window.setTimeout(function () {
                    document.getElementById("postcode").focus();
                }, 0);
            }
        });
    </script>

    @if (Model.SearchResults != null)
    {
        @if (!Model.SearchResults.Any())
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h3 class="govuk-heading-m">@Model.NoResultMessage</h3>
                </div>
            </div>
        }
        else
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h3 class="govuk-heading-m">@Model.SuccessMessage</h3>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </div>
            </div>
            
            <div class="govuk-grid-row govuk-!-padding-right-4">
                <div class="govuk-grid-column-two-thirds">
            
                    @foreach (var result in Model.SearchResults)
                    {
                        <div class="govuk-summary-list--no-border">
                            <h4 class="govuk-heading-m">@result.Name</h4>
                            <dl class="govuk-summary-list govuk-summary-list--no-border">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Website</dt>
                                    <dd class="govuk-summary-list__value">
                                        <a href="@result.Website" class="govuk-link" rel="noreferrer noopener" target="_blank">@result.Website (opens in new tab)</a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Address</dt>
                                    <dd class="govuk-summary-list__value">
                                        @Html.Raw(result.Address)
                                    </dd>
                                </div>
                                @if (!String.IsNullOrEmpty(result.Parent))
                                {
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">College group</dt>
                                        <dd class="govuk-summary-list__value">@result.Parent</dd>
                                    </div>
                                }
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Distance</dt>
                                    <dd class="govuk-summary-list__value">@result.Distance miles</dd>
                                </div>
                            </dl>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    }
                </div>
            </div>
        }
    }
</div>

