@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Helpers;
@model ActionBanner;

@if (Model != null)
{
    var backColor = StringHelper.GetCssClassName();
    <style nonce="@Context.GetNonce()">
    .@backColor {
        background-color: @Model.BackgroundColor;
    }
    </style>

    <section class="fe-action-banner govuk-!-margin-top-3 @backColor">
        <div id="@Model.DataId" class="govuk-width-container  govuk-!-padding-top-5">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">@Model.BannerText</p>
                </div>
                <div class="govuk-grid-column-one-third">
                        <a href="@Model.BannerLinkSource" title="@Model.BannerLinkText"
                           class="govuk-button">
                            @Model.BannerLinkText
                        </a>
                </div>
            </div>
        </div>
    </section>
}