@using SFA.DAS.TeachInFurtherEducation.Contentful.Model
@using SFA.DAS.TeachInFurtherEducation.Web.Services
@model PageComponent

<div data-id ="@Model.ComponentID" data-type="@Model.ComponentType" class="interim-contents-section-component govuk-grid-column-full govuk-!-margin-bottom-6 govuk-!-padding-left-0"
     style="border: 1px solid @(string.IsNullOrWhiteSpace(Model.ComponentBorderColor) ? "#F8F8F8" : Model.ComponentBorderColor.Trim()); background-color: @(string.IsNullOrWhiteSpace(Model.ComponentBackgroundColor) ? "#F8F8F8" : Model.ComponentBackgroundColor.Trim()); border-radius: 20px">

    @if (Model.ComponentContent != null)
    {

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                @if (!string.IsNullOrWhiteSpace(@Model.ComponentHeading))
                {

                    <h2 class="govuk-heading-l">@Model.ComponentHeading</h2>

                }

                @ComponentService.ToHtmlString(Model.ComponentContent)

            </div>

        </div>

    }

</div>