@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Infrastructure

@model IEnumerable<FooterLink>

@{
    var cookiePage = Model.FirstOrDefault((l) => l.FooterLinkText.ToLower().Contains("cookie"))?.FooterLinkSource;
    var nonce = @Context.GetNonce();
}

@if (!Context.Request.Cookies.ContainsKey(CookieKeys.DasSeenCookieMessage) ||
!Context.Request.Cookies.ContainsKey(CookieKeys.AnalyticsConsent) ||
!Context.Request.Cookies.ContainsKey(CookieKeys.FunctionalConsent))
{
    <section aria-label="Cookies on Teach in Further Education" class="govuk-cookie-banner" data-nosnippet="" id="cookieConsent">
        <div class="govuk-cookie-banner__message govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-cookie-banner__heading govuk-heading-m">
                        Cookies on Teach in Further Education
                    </h2>
                    <div class="govuk-cookie-banner__content">
                        <p class="govuk-body">We use some essential cookies to make this service work.</p>
                        <p class="govuk-body">We’d like to set additional cookies so we can remember your settings, understand how people use the service and make improvements.</p>
                    </div>
                </div>
            </div>
            <div class="govuk-button-group">
                <button type="button" class="govuk-button" id="acceptCookiesButton" data-module="govuk-button">
                    Accept additional cookies
                </button>
                <button type="button" class="govuk-button" id="rejectCookiesButton" data-module="govuk-button">
                    Reject additional cookies
                </button>
                <a class="govuk-link" href="@cookiePage">View cookies</a>
            </div>
        </div>
    </section>
    <section aria-label="Cookies on Teach in Further Education" class="govuk-cookie-banner" data-nosnippet="" hidden id="cookieAccept">
        <div class="govuk-cookie-banner__message govuk-width-container" role="alert">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-cookie-banner__content">
                        <p class="govuk-body">
                            You've accepted additional cookies. You can <a class="govuk-link" href="@cookiePage">change your cookie settings</a> at any time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="govuk-button-group">
                <button type="button" class="govuk-button" id="acceptCookieBanner" data-module="govuk-button">
                    Hide cookie message
                </button>
            </div>
        </div>
    </section>
    <section aria-label="Cookies on Teach in Further Education" class="govuk-cookie-banner" data-nosnippet="" hidden id="cookieReject">
        <div class="govuk-cookie-banner__message govuk-width-container" role="alert">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-cookie-banner__content">
                        <p class="govuk-body">You’ve rejected analytics cookies. You can <a class="govuk-link" href="@cookiePage">change your cookie settings</a> at any time.</p>
                    </div>
                </div>
            </div>
            <div class="govuk-button-group">
                <button type="button" class="govuk-button" id="rejectCookieBanner" data-module="govuk-button">
                    Hide cookie message
                </button>
            </div>
        </div>
    </section>

    <script nonce="@nonce">
        (() => {
            function saveCookieSettings() {
                ["Analytics", "Functional"].forEach(type => {
                    let value = document.querySelector(`input[name=Consent${type}Cookie]:checked`).value
                    createCookie(`${type}Consent`, value)
                })
                showBanner("confirmation-banner")
            }

            function acceptCookies(acceptAll) {
                createCookie("DASSeenCookieMessage", true)
                createCookie("AnalyticsConsent", acceptAll)
                createCookie("FunctionalConsent", acceptAll)
                showBanner(acceptAll ? "cookieAccept" : "cookieReject")
                document.getElementById("cookieConsent").style.display = "none"
                loadGTMAfterAcceptingCookies()
            }

            function createCookie(name, value) {
                let expires = new Date(Date.now() + 31536000000).toGMTString() 
                document.cookie = `${name}=${value};expires=${expires};path=/;Secure`
            }

            function showBanner(id) {
                document.getElementById(id).removeAttribute("hidden")
                window.scrollTo({ top: 0, behavior: "auto" })
            }

            function hideBanner(id) {
                document.getElementById(id).setAttribute("hidden", "")
            }

            function attachCookieEvent(elemId, func) {
                function attachEvent() {
                    var element = document.getElementById(elemId);
                    if (element) {
                        element.addEventListener('click', func);
                    }
                }

                if (document.readyState === 'loading') {
                    document.addEventListener('DOMContentLoaded', attachEvent);
                } else {
                    attachEvent();
                }
            }

            attachCookieEvent('acceptCookiesButton', function () { acceptCookies(true); });
            attachCookieEvent('rejectCookiesButton', function () { acceptCookies(false); });
            attachCookieEvent('acceptCookieBanner', function () { hideBanner('cookieAccept'); });
            attachCookieEvent('rejectCookieBanner', function () { hideBanner('cookieReject'); });
        }
        )();
    </script>
}

<script nonce="@nonce">
    function deleteCookie(name) {
        document.cookie = `${name}=;expires=Thu, 01 Jan 1970 00:00:00 UTC;path=/;Secure`
    }
    function deleteAllCookies() {
        ["DASSeenCookieMessage", "AnalyticsConsent", "FunctionalConsent"].forEach(deleteCookie)
    }
</script>