@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Services
@model ImageCardBanner;

@if (Model != null)
{
    <div class="govuk-grid-row image-Card-banner govuk-!-padding-3 ">
        <div class="govuk-grid-column-one-quarter">
            <p>&nbsp;</p>
        </div>
        <div class="govuk-grid-column-one-half">
            @ComponentService.ToHtmlString(Model.BannerContents)
            <p class="govuk-body govuk-!-margin-bottom-6">@Model.BannerText</p>
            <a href="@Model.BannerLinkSource" title="" class="govuk-link">@Model.BannerLinkText</a>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <div class="image-card-banner-image-div image-card-banner__mobile">
                <img src="@ComponentService.GetMediaImageSource(Model.BannerImage)" alt="@Model.BannerImage?.Title"/>
            </div>
        </div>
    </div>
}