@using SFA.DAS.TeachInFurtherEducation.Contentful.Model
@using SFA.DAS.TeachInFurtherEducation.Web.Services
@model PageComponent

<div data-id="@Model.ComponentID" data-type="@Model.ComponentType" class="govuk-grid-column-full govuk-!-margin-bottom-7 govuk-!-padding-3"
     style="border: 1px solid @(string.IsNullOrWhiteSpace(Model.ComponentBorderColor) ? "#F8F8F8" : Model.ComponentBorderColor.Trim()); background-color: @(string.IsNullOrWhiteSpace(Model.ComponentBackgroundColor) ? "#F8F8F8" : Model.ComponentBackgroundColor.Trim()); border-radius: 20px">

    @if (Model.ComponentContent != null)
    {

        <div class="govuk-grid-row govuk-!-padding-1 govuk-!-padding-right-7">

            <div class="govuk-grid-column-full">

                @if (Model.ComponentHeading != null)
                {

                    <h2 class="govuk-heading-l">@Model.ComponentHeading</h2>

                }

                @ComponentService.ToHtmlString(Model.ComponentContent)

            </div>

        </div>

    }

</div>

