@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Infrastructure
@addTagHelper *, NetEscapades.AspNetCore.SecurityHeaders.TagHelpers

@model (IEnumerable<MenuItem>?, bool?)
@{
    var homeMenu = Model.Item1!.FirstOrDefault(x=> !x.TopLevelMenuItem 
                                               && x.MenuItemText.Equals(RouteNames.Home, StringComparison.CurrentCultureIgnoreCase));
    var homeLink = homeMenu?.MenuItemSource;
}
<nav aria-label="top-menu" class="dfe-topnav fe-dfe-topnav" name="Other services navigation">
    <div class="govuk-width-container">
        <div class="flex-nav govuk-!-padding-top-5">
            &nbsp;
            <ul class="flex-right">
                <li>
                    <a role="button" href="#signUpForm" title="" class="govuk-link">Sign up for emails</a>
                </li>
                <li>
                    <svg viewBox="0 -256 1850 1850" id="svg2989" height="30px" preserveAspectRatio="xMidYMid meet">
                        <g transform="matrix(1,0,0,-1,37.966102,1282.678)" id="g2991">
                            <path color="#ffffff" d="m 1664,32 v 768 q -32,-36 -69,-66 -268,-206 -426,-338 -51,-43 -83,-67 -32,-24 -86.5,-48.5 Q 945,256 897,256 h -1 -1 Q 847,256 792.5,280.5 738,305 706,329 674,353 623,396 465,528 197,734 160,764 128,800 V 32 Q 128,19 137.5,9.5 147,0 160,0 h 1472 q 13,0 22.5,9.5 9.5,9.5 9.5,22.5 z m 0,1051 v 11 13.5 q 0,0 -0.5,13 -0.5,13 -3,12.5 -2.5,-0.5 -5.5,9 -3,9.5 -9,7.5 -6,-2 -14,2.5 H 160 q -13,0 -22.5,-9.5 Q 128,1133 128,1120 128,952 275,836 468,684 676,519 682,514 711,489.5 740,465 757,452 774,439 801.5,420.5 829,402 852,393 q 23,-9 43,-9 h 1 1 q 20,0 43,9 23,9 50.5,27.5 27.5,18.5 44.5,31.5 17,13 46,37.5 29,24.5 35,29.5 208,165 401,317 54,43 100.5,115.5 46.5,72.5 46.5,131.5 z m 128,37 V 32 q 0,-66 -47,-113 -47,-47 -113,-47 H 160 Q 94,-128 47,-81 0,-34 0,32 v 1088 q 0,66 47,113 47,47 113,47 h 1472 q 66,0 113,-47 47,-47 47,-113 z" id="path2993" inkscape:connector-curvature="0" fill="#ffffff"></path>
                        </g>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="dfe-header" role="banner">
    <div class="dfe-width-container dfe-header__container">
        <div class="dfe-header__logo">
            <a class="dfe-header__link" href="@homeLink" aria-label="DfE homepage">
                <image src="/images/DesignSystem/dfe-logo.png" class="dfe-logo" alt=""/>
                <image src="/images/DesignSystem/dfe-logo-alt.png" class="dfe-logo-hover" alt=""/>
            </a>
        </div>
        <div class="dfe-header__content" id="content-header">
            <div class="dfe-header__menu">
                <button class="dfe-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-expanded="false">Menu</button>
            </div>
            <div class="dfe-header__search">
                <image src="/images/DesignSystem/FurtherEducation.png" class="fe-logo" alt="This is a website logo for Teach in further education - Department for Education"/>
            </div>
        </div>
    </div>

    <nav class="dfe-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
        <div class="dfe-width-container">
            <p class="dfe-header__navigation-title">
                <span id="label-navigation">Menu</span>
                <button class="dfe-header__navigation-close" id="close-menu">
                    <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                        <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                    </svg>
                    <span class="govuk-visually-hidden">Close menu</span>
                </button>
            </p>
            <ul class="dfe-header__navigation-list">
                @if (Model.Item1 != null && Model.Item1.Any())
                {
                    var secondaryMenuItems = Model.Item1.Where(x => !x.TopLevelMenuItem);
                    foreach (var item in secondaryMenuItems)
                    {
                        var activeClass = item.IsCurrentPage ? "dfe-header__navigation-item--current" : "";
                        <li class="dfe-header__navigation-item @activeClass">
                            <a class="dfe-header__navigation-link" href="@(Model.Item2.HasValue && Model.Item2.Value ? $"/preview{item.MenuItemSource}" : item.MenuItemSource)">
                                @item.MenuItemText
                                <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                    <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                                </svg>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </nav>
</header>

<script nonce="@Context.GetNonce()">
    (() => {
        var o = {
            621: () => {
                NodeList.prototype.forEach || (NodeList.prototype.forEach = Array.prototype.forEach),
                    Array.prototype.includes || Object.defineProperty(Array.prototype, "includes", {
                        enumerable: !1,
                        value: function (t) {
                            return 0 < this.filter(function (e) {
                                return e === t
                            }).length
                        }
                    }),
                    Element.prototype.matches || (Element.prototype.matches = Element.prototype.msMatchesSelector || Element.prototype.webkitMatchesSelector),
                    Element.prototype.closest || (Element.prototype.closest = function (e) {
                        var t = this;
                        do {
                            if (Element.prototype.matches.call(t, e))
                                return t
                        } while (null !== (t = t.parentElement || t.parentNode) && 1 === t.nodeType);
                        return null
                    }
                    )
            }
        }
            , r = {};
        function n(e) {
            var t = r[e];
            return void 0 !== t || (t = r[e] = {
                exports: {}
            },
                o[e](t, t.exports, n)),
                t.exports
        }
        (() => {
            "use strict";
            function l(e, t) {
                var o;
                e && t && (o = "true" === e.getAttribute(t) ? "false" : "true",
                    e.setAttribute(t, o))
            }
            n(621),
                document.addEventListener("DOMContentLoaded", function () {
                    var t, o, r, n, e, c, s;
                    function a(e) {
                        e.preventDefault(),
                            l(n, "aria-expanded"),
                            n.classList.toggle("is-active"),
                            c.classList.toggle("js-show"),
                            s.classList.toggle("js-show")
                    }
                    t = document.querySelector("#toggle-menu"),
                        e = document.querySelector("#close-menu"),
                        o = document.querySelector("#header-navigation"),
                        r = function (e) {
                            e.preventDefault(),
                                l(t, "aria-expanded"),
                                t.classList.toggle("is-active"),
                                o.classList.toggle("js-show")
                        }
                        ,
                        t && e && o && [t, e].forEach(function (e) {
                            e.addEventListener("click", r)
                        }),
                        n = document.querySelector("#toggle-search"),
                        e = document.querySelector("#close-search"),
                        c = document.querySelector("#wrap-search"),
                        s = document.querySelector("#content-header"),
                        n && e && [n, e].forEach(function (e) {
                            e.addEventListener("click", a)
                        })
                })
        }
        )()
    }
    )();
</script>