@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Helpers
@using SFA.DAS.TeachInFurtherEducation.Web.Services

@model Tuple<Preamble?, Breadcrumbs?, bool, bool, string>

@if (Model.Item1 != null || Model.Item2 != null)
{
    var backColor = StringHelper.GetCssClassName();
    var secondarySectionColor = $"secondary-{StringHelper.GetCssClassName()}";
    <style nonce="@Context.GetNonce()">
    .@backColor {
        background-color: @Model.Item1?.BackgroundColor;
    }
    .@secondarySectionColor {
        background-color: @Model.Item1?.SecondarySectionBackgroundColour;
        border: 2px solid @Model.Item1?.SecondarySectionBorderColour;
        border-radius: 10px;
        padding: 10px;
    }
    </style>

    <div class="fe-preamble govuk-!-padding-bottom-6 @backColor">
        <section class="dfe-page-header dfe-page-header--with-sub-nav">
            @if (Model.Item2 != null)
            {
                @await Html.PartialAsync(
                    "_BreadcrumbPartial",
                    (Model.Item2, Model.Item4)
                )
            }

            <div class="govuk-width-container ">
                <div class="govuk-grid-row govuk-!-margin-top-5">
                    <div class="govuk-grid-column-two-thirds">
                        @if (Model.Item1 != null && !string.IsNullOrEmpty(Model.Item1.BannerHeader))
                        {
                            <h1 class="govuk-heading">@Model.Item1.BannerHeader</h1>
                        }
                    </div>
                    <div class="govuk-grid-column-one-third govuk-!-padding-top-2">
                        <image src="/images/DesignSystem/Teaching-FE-logo.png" class="teaching-fe-logo" alt="teaching fe logo" tabindex="-1"/>
                    </div>
                </div>
                @if (Model.Item1 is { PrimarySection: not null })
                {
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">

                            @ComponentService.ToHtmlString(Model.Item1.PrimarySection)

                        </div>
                    </div>
                }
                @if (Model.Item1 is { SecondarySection: not null })
                {
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds @secondarySectionColor">
                            @ComponentService.ToHtmlString(Model.Item1.SecondarySection)
                        </div>
                    </div>
                }
                @if (Model.Item1 is { ContactPhoneNumber: not null })
                {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        @{ var telphone = Model.Item1.ContactPhoneNumber.Replace(" ", ""); }
                        <a href="tel:@{@telphone}" title="@telphone"  class="govuk-button">
                            Call: @Model.Item1.ContactPhoneNumber
                        </a>
                    </div>
                </div>
                }
                @if (Model.Item1 is { ContactEmail: not null })
                {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                         <a href="mailto:@{@Model.Item1.ContactEmail}" title="@Model.Item1.ContactEmail" 
                            class="govuk-button">Email: <span class="text-underline">@Model.Item1.ContactEmail</span></a>
                    </div>
                </div>
                }
            </div>
        </section>
    </div>
}