@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Helpers
@using SFA.DAS.TeachInFurtherEducation.Web.Services
@model RichTextContents

<div id="@Model.DataId" class="govuk-width-container">
    @{
        var backColor = StringHelper.GetCssClassName();
        <style nonce="@Context.GetNonce()">
        .@backColor {
            background-color: @Model.BackgroundColor;
        }
        </style>

        <div class="govuk-grid-row govuk-!-padding-top-6 @backColor">
            <div class="govuk-grid-column-full">
                @ComponentService.ToHtmlString(Model.PageContents)
            </div>
        </div>
    }
</div >